.Studies ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Studies li {
  display: inline-block;
  margin: 20px;
}

.Studies a {
  text-decoration: none;
  color: black;
}

.Studies a:hover,
.Studies a:active,
.Studies a.active {
  color: #fa923f
}